PORT=8000

DB_NAME=your_database_name
MONGODB_URI=mongodb://username:password@localhost:27017/?authSource=admin

# Steadfast Courier Integration

STEADFAST_API_URL=https://portal.packzy.com/api/v1

STEADFAST_API_KEY_NARAYANGANJ=your_steadfast_api_key_narayanganj
STEADFAST_SECRET_KEY_NARAYANGANJ=your_steadfast_secret_key_narayanganj

STEADFAST_API_KEY_BADDA=your_steadfast_api_key_badda
STEADFAST_SECRET_KEY_BADDA=your_steadfast_secret_key_badda

STEADFAST_API_KEY_JAMALPUR=your_steadfast_api_key_jamalpur
STEADFAST_SECRET_KEY_JAMALPUR=your_steadfast_secret_key_jamalpur

# Gmail

GMAIL_USER=your_email@gmail.com
GMAIL_APP_PASSWORD=your_gmail_app_password
ADMIN_EMAIL=your_admin_email@gmail.com

# BD Courier Integration

BDC_API_KEY=your_bdc_api_key

# Pathao Courier Integration

PATHAO_BASE_URL=https://api-hermes.pathao.com
PATHAO_CLIENT_ID=your_pathao_client_id
PATHAO_CLIENT_SECRET=your_pathao_client_secret
PATHAO_USERNAME=your_pathao_username
PATHAO_PASSWORD=your_pathao_password
PATHAO_STORE_ID=your_pathao_store_id